@page
@using SemestriProject.Pages.Extensions
@model SemestriProject.Soft.Areas.AirFreight.Pages.China.IndexModel

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}
@section Create
{
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create"))
}

<body>
<table class="table">
    <thead>
    @Html.TableHeaderFor(
        new Link(Html.DisplayNameFor(m => m.Item.Id), Model.GetSortString(m => m.Id, page)),
        new Link(Html.DisplayNameFor(m => m.Item.Direction), Model.GetSortString(m => m.Direction, page)),
        new Link(Html.DisplayNameFor(m => m.Item.OrderTime), Model.GetSortString(m => m.OrderTime, page)),
        new Link(Html.DisplayNameFor(m => m.Item.TypeOfCargo), Model.GetSortString(m => m.TypeOfCargo, page)),
        new Link(Html.DisplayNameFor(m => m.Item.AirplaneType), Model.GetSortString(m => m.AirplaneType, page)),
        new Link(Html.DisplayNameFor(m => m.Item.TravelTime), Model.GetSortString(m => m.TravelTime, page))
        )
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            @Html.TableRowFor(
                page,
                item.Id,
                Html.DisplayFor(modelItem => item.Id),
                Html.DisplayFor(modelItem => item.Direction),
                Html.DisplayFor(modelItem => item.OrderTime),
                Html.DisplayFor(modelItem => item.TypeOfCargo),
                Html.DisplayFor(modelItem => item.AirplaneType),
                Html.DisplayFor(modelItem => item.TravelTime)
                )
        </tr>
    }
    </tbody>
</table>
</body>